* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    width: 16%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 10px;
    position: fixed;
    z-index: 999;
}

.navA{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.navbar input {
    display: none;
}

#aacha {
    display: none;
    font-size: 50px;
    position: absolute;
    left: 20px;
}

#click:checked~.navA {
    left: -100%;
    transition: 1s;
}

.box{
    width: 70px;
    height: 8vh;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow: hidden;
    transition:  0.9s;
}

.box:hover{
    width: 200px;
}

.box:hover.box i{
    background-color: black;
    color: red;
}

.box h2{
    font-size: 20px;
}

.box i{
    font-size: 25px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    transition: 1s;
    color: white;
}

.box a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
}

@media screen and (max-width:980px) and (min-width:320px) {
    .navA {
        position: fixed;
        background-color: gray;
        width: 100%;
        height: 70vh;
        top: 11%;
        left: 0%;
        padding: 30px 20px;
        border-radius: 10px;
        margin: 0;
        transition: 0.4s;
        z-index: 999;
        padding-left: 0px;
    }

    #aacha {
        display: block;
        margin-top: 15px;
        color: black;
        z-index: 999;
        font-size: 40px;
    }
    .box{
        width: 175px;
    }
    .box h2{
        color: white;
    }
    .box i{
        color: white;
        font-size: 18px;
    }
    .navbar{
        display: contents;
    }
}

/* ======================================== */
/* <!------------home------div-------------> */

.home{
    width: 100%;
    height: 100vh;
    background-image: url(./images/img1.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 100% 100%;
}

.homewhite{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    padding-left: 20%;
    padding-top: 1px;
}

.homewhite h2{
    margin-top: 14%;
    font-size: 45px;
    color: white;
}

.homewhite h1{
    font-size: 70px;
    color: white;
}

.home span{
    transform: translate(3%,0%);
    color: transparent;
    background-image: linear-gradient(yellow , orange);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -700px 0;
    animation: type 5s linear infinite alternate;
}

@keyframes type {
    0%{
        background-position: -700px 0;
    }
    100%{
        background-position: 0 0;
    }
}

.home button a{
    text-decoration: none;
    font-weight: 800;
}

.homewhite i{
    background-color: black;
    padding: 10px 11px 10px 11px;
    margin-top: 3%;
    margin-right: 20px;
    font-size: 19px;
    border-radius: 50%;
    transition: 0.9s;
}

.homewhite i:hover{
    transform: translateY(-10px);
    background-color: lightseagreen;
}

@media screen and (max-width:980px) and (min-width:700px) {
    .homewhite{
        padding-left: 7%;
    }
    .home{
        background-size: cover;
    }
    .home h2{
        margin-top: 20%;
        font-size: 40px;
    }
    .homewhite h1{
        font-size: 63px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .homewhite{
        padding-left: 7%;
    }
    .home{
        background-size: cover;
    }
    .home h2{
        margin-top: 26%;
        font-size: 37px;
    }
    .homewhite h1{
        font-size: 55px;
        margin-top: 10px;
    }
}

@media screen and (max-width:500px) and (min-width:400px) {
    .homewhite{
        padding-left: 7%;
    }
    .home{
        background-size: cover;
    }
    .home h2{
        margin-top: 38%;
        font-size: 27px;
    }
    .homewhite h1{
        font-size: 50px;
        margin-top: 10px;
    }
}

@media screen and (max-width:400px) and (min-width:320px) {
    .homewhite{
        padding-left: 7%;
    }
    .home{
        background-size: cover;
    }
    .home h2{
        margin-top: 50%;
        font-size: 26px;
    }
    .homewhite h1{
        font-size: 45px;
        margin-top: 10px;
    }
    .homewhite i{
        font-size: 15px;
        margin-top: 20px;
    }
}

/* ======================================= */
/* <!--------------about-------------------> */

.about{
    width: 100%;
    min-height: 100vh;
    padding:20px 10px 10px 17%;
    background-color: #040b14;
}

.about span{
    border-bottom: 2px solid red;
}

.ap{
    margin-top: 20px;
    font-size: 17px;
}

.aboutbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.aboutleft{
    width: 30%;
    text-align: center;
    padding-top: 6px;
}

.aboutright{
    width: 70%;
}

.aboutleft img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 20px;
}

.aboutright span{
    margin-top: 20px;
}

.aboutright p{
    margin-top: 10px;
}

.aflex{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15px;
}

table tr td{
    font-size: 20px;
    line-height: 45px;
}

table tr td a{
    color: white;
}

@media screen and (max-width:980px) and (min-width:700px) {
    .about{
        padding-left: 20px;
    }
    .aboutbox{
        flex-direction: column;
    }
    .ap{
        font-size: 15px;
    }
    .aboutleft{
        width: 100%;
    }
    .aboutleft img{
        width: 500px;
    }
    .aboutright{
        width: 100%;
        margin-top: 25px;
    }
    table tr td {
        font-size: 17px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .about{
        padding-left: 20px;
    }
    .aboutbox{
        flex-direction: column;
    }
    .ap{
        font-size: 13px;
    }
    .aboutleft{
        width: 100%;
    }
    .aboutleft img{
        width: 430px;
    }
    .aboutright{
        width: 100%;
        margin-top: 25px;
    }
    .aboutright p{
        font-size: 15px;
    }
    table tr td {
        font-size: 16px;
    }
}

@media screen and (max-width:500px) and (min-width:320px) {
    .about{
        padding-left: 20px;
    }
    .aboutbox{
        flex-direction: column;
    }
    .ap{
        font-size: 10px;
    }
    .aboutleft{
        width: 100%;
    }
    .aboutleft img{
        width: 280px;
    }
    .aboutright{
        width: 100%;
        margin-top: 25px;
    }
    .aboutright p{
        font-size: 11px;
    }
    table tr td {
        font-size: 15px;
    }
    .aflex{
        flex-direction: column;
    }
}

/* =================================== */
/* <!------------skill--------------> */

.skill{
    width: 100%;
    min-height: 100vh;
    background-color: #040b14;
    padding: 20px 20px 20px 17%;
}

.skillflex{
    width: 100%;
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skilleft{
    width: 50%;
    /* height: 70vh; */
    text-align: center;
    padding: 30px;
}

.skilright{
    width: 50%;
    /* height: 70vh; */
    padding: 30px;
    text-align: center;
}

.skilbox{
    width: 100%;
    height: 7vh;
    background-color: whitesmoke;
    border-radius: 10px;
    animation: skilbox 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    margin-top: 20px;
    position: relative;
}

@keyframes skilbox {
    from{
        opacity: 0;
    }
    to{
        scale: 1s;
        opacity: 1;
    }
}

.skilbox h3{
    color: black;
}

.linebox{
    width: 85%;
    height: 1vh;
    background-color: blue;
    border-bottom-left-radius: 10px;
    animation: linebox 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    position: absolute;
    bottom: 0;
}

@keyframes linebox {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 85%;
        opacity: 1;
    }
}

.linebox1{
    width: 82%;
    height: 1vh;
    background-color: blue;
    border-bottom-left-radius: 10px;
    animation: linebox1 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    position: absolute;
    bottom: 0;
}

@keyframes linebox1 {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 82%;
        opacity: 1;
    }
}

.linebox2{
    width: 75%;
    height: 1vh;
    background-color: blue;
    border-bottom-left-radius: 10px;
    animation: linebox2 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    position: absolute;
    bottom: 0;
}

@keyframes linebox2 {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 75%;
        opacity: 1;
    }
}

.linebox3{
    width: 70%;
    height: 1vh;
    background-color: blue;
    border-bottom-left-radius: 10px;
    animation: linebox 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    position: absolute;
    bottom: 0;
}

@keyframes linebox3 {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 70%;
        opacity: 1;
    }
}

.linebox4{
    width: 75%;
    height: 1vh;
    background-color: blue;
    border-bottom-left-radius: 10px;
    animation: linebox 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    position: absolute;
    bottom: 0;
}

@keyframes linebox3 {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 75%;
        opacity: 1;
    }
}

.linebox5{
    width: 77%;
    height: 1vh;
    background-color: blue;
    border-bottom-left-radius: 10px;
    animation: linebox4 1s linear;
    animation-timeline: view();
    animation-range: entry -10% cover 30%;
    position: absolute;
    bottom: 0;
}

@keyframes linebox4 {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 75%;
        opacity: 1;
    }
}

.skilright img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width:980px) and (min-width:700px) {
    .skill{
        padding-left: 15px;
    }
    .linebox{
        margin-top: 4px;
    }
    .linebox1{
        margin-top: 4px;
    }
    .linebox2{
        margin-top: 4px;
    }
    .linebox3{
        margin-top: 4px;
    }
    .linebox4{
        margin-top: 4px;
    }
    .linebox5{
        margin-top: 4px;
    }
    .skilright img{
        width: 300px;
        height: 350px;
    }
    .skilleft{
        padding: 15px;
    }
    .skilright {
        padding: 15px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .skill{
        padding-left: 15px;
    }
    .skillflex{
        flex-direction: column-reverse;
    }
    .linebox{
        margin-top: 4px;
    }
    .linebox1{
        margin-top: 4px;
    }
    .linebox2{
        margin-top: 4px;
    }
    .linebox3{
        margin-top: 4px;
    }
    .linebox4{
        margin-top: 4px;
    }
    .linebox5{
        margin-top: 4px;
    }
    .skilright img{
        width: 440px;
        height: 350px;
    }
    .skilleft{
        padding: 15px;
        width: 100%;
    }
    .skilright {
        padding: 15px;
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width:500px) and (min-width:320px) {
    .skill{
        padding-left: 15px;
    }
    .skillflex{
        flex-direction: column-reverse;
    }
    .linebox{
        margin-top: 8px;
    }
    .linebox1{
        margin-top: 8px;
    }
    .linebox2{
        margin-top: 8px;
    }
    .linebox3{
        margin-top: 8px;
    }
    .linebox4{
        margin-top: 8px;
    }
    .linebox5{
        margin-top: 8px;
    }
    .skilright img{
        width: 270px;
    }
    .skilleft{
        padding: 15px;
        width: 100%;
    }
    .skilright {
        padding: 15px;
        width: 100%;
        margin-top: 20px;
    }
    .skilbox h3{
        font-size: 16px;
    }
}

/* ==================================== */
/* <!----------project----------------> */

.project{
    width: 100%;
    min-height: 100vh;
    background-color: #040b14;
    padding-left: 17%;
}

.projectbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.projectbox div{
    width: 80%;
    height: 8vh;
    border: 2px solid violet;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.projectbox div label{
    font-size: 18px;
}

.projectlist{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.projectlist input{
    display: none;
}

.all{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap:30px;
}

.website{
    width: 100%;
    position: absolute;
    left: -210%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #040b14;
    z-index: 1;
    transition: 1s;
    row-gap:30px;
}

.landing{
    width: 100%;
    position: absolute;
    right: -200%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #040b14;
    z-index: 2;
    transition: 1s;
    row-gap:30px;
}

.intergrater{
    width: 100%;
    position: absolute;
    bottom: -200%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #040b14;
    z-index: 3;
    transition: 1s;
    row-gap:30px;
}

#website:checked~.website{
    left: 0;
}

#landing:checked~.landing{
    right: 0;
}
#intergrater:checked~.intergrater{
    bottom: 0;
}

.xtx{
    width: 320px;
    height: 430px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid;
    text-align: center;
    transition: 0.9s;
}

.imadiv{
    width: 270px;
    height: 270px;
    overflow: hidden;
    margin-left: 22px;
    margin-top: 20px;
    border-radius: 10px;
}

.xtx h2{
    margin: 10px 0 5px 0;
}

.xtx img{
    width: 270px;
    height: 280px;
    object-fit: cover;
    transition: 1s;
}

.xtx:hover.xtx img{
    scale: 1.1;
}

.smal{
    width: 314px;
    height: 8vh;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8px;
}

.smal button a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.smal button{
    width: 100px;
    height: 5vh;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 1s;
}

.smal button:hover{
    transform: translateY(-10px);
}

@media screen and (max-width:980px) and (min-width:700px) {
    .project{
        padding-left: 20px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .project{
        padding-left: 15px;
    }
}

@media screen and (max-width:500px) and (min-width:400px) {
    .project{
        padding-left: 10px;
    }
    .xtx{
        width: 350px;
    }
    .xtx img{
        width: 300px;
    }
    .smal{
        width: 345px;
    }
    .projectbox div {
        width: 95%;
    }
    .projectbox div label{
        font-size: 15px;
    }
    .imadiv{
        width: 270px;
        margin-left: 11%;
    }
}

@media screen and (max-width:400px) and (min-width:320px) {
    .project{
        padding-left: 10px;
    }
    .xtx{
        width: 290px;
    }
    .imadiv{
        width: 240px;
    }
    .xtx img{
        width: 240px;
    }
    .smal{
        width: 290px;
    }
    .projectbox div {
        width: 90%;
    }
    .projectbox div label{
        font-size: 12px;
    }
}

/* =================================== */
/* <!--------------contact-------------> */

.contact{
    width: 100%;
    min-height: 100vh;
    background-color: #040b14;
    padding: 40px 0px 0px 17%;
}

.contactbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contactleft{
    width: 350px;
    min-height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    position: relative;
}

.contactleft div{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: -5px;
    top: 93px;
    transform: rotate(45deg);
}

.contactleft hr{
    border: 1px solid gray;
    margin-top: 28px;
}

.contactleft img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contactleft h2{
    color: black;
}

.contactleft h4{
    color: black;
}

.contactleft i{
    font-size: 25px;
    margin-right: 10px;
    margin-top: 15px;
}

.contactmobil{
    width: 350px;
    min-height: 500px;
    border:2px solid white;
    border-radius: 0 20px 20px 0;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 315px;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

textarea{
    width: 100%;
    height: 20vh;
    color: black;
    padding: 15px;
    border-radius: 8px;
}

#password{
    height: 20vh;
    padding: 10px;
}

form div {
    position: relative;
    margin-bottom: 5px;
}

input:focus {
    border: 2px solid #f2796e;
}

form div i {
    position: absolute;
    padding: 10px;
    color: black;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    font-size: 14.5px;
    margin-top: 5px;
}

.success-icon,
.failure-icon {
    right: 0;
    opacity: 0;
}

form button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

button:hover {
    opacity: 0.8;
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,500 L 0,187 C 99.39285714285714,180.75 198.78571428571428,174.5 318,172 C 437.2142857142857,169.5 576.2500000000001,170.75 704,193 C 831.7499999999999,215.25 948.2142857142858,258.5 1069,261 C 1189.7857142857142,263.5 1314.892857142857,225.25 1440,187 L 1440,500 L 0,500 Z");
    }

    25% {
        d: path("M 0,500 L 0,187 C 127.82142857142861,165.03571428571428 255.64285714285722,143.07142857142858 370,164 C 484.3571428571428,184.92857142857142 585.2499999999998,248.75 716,244 C 846.7500000000002,239.25 1007.3571428571429,165.92857142857144 1133,145 C 1258.642857142857,124.07142857142857 1349.3214285714284,155.53571428571428 1440,187 L 1440,500 L 0,500 Z");
    }

    50% {
        d: path("M 0,500 L 0,187 C 158.57142857142856,188.46428571428572 317.1428571428571,189.92857142857142 418,208 C 518.8571428571429,226.07142857142858 562,260.75 661,250 C 760,239.25 914.8571428571429,183.07142857142858 1054,165 C 1193.142857142857,146.92857142857142 1316.5714285714284,166.96428571428572 1440,187 L 1440,500 L 0,500 Z");
    }

    75% {
        d: path("M 0,500 L 0,187 C 96.53571428571428,147.35714285714286 193.07142857142856,107.71428571428571 315,97 C 436.92857142857144,86.28571428571429 584.2499999999999,104.5 709,124 C 833.7500000000001,143.5 935.9285714285716,164.28571428571428 1054,175 C 1172.0714285714284,185.71428571428572 1306.0357142857142,186.35714285714286 1440,187 L 1440,500 L 0,500 Z");
    }

    100% {
        d: path("M 0,500 L 0,187 C 99.39285714285714,180.75 198.78571428571428,174.5 318,172 C 437.2142857142857,169.5 576.2500000000001,170.75 704,193 C 831.7499999999999,215.25 948.2142857142858,258.5 1069,261 C 1189.7857142857142,263.5 1314.892857142857,225.25 1440,187 L 1440,500 L 0,500 Z");
    }
}

@media screen and (max-width:980px) and (min-width:700px) {
    .contact{
        padding-left: 10px;
    }
    .contactleft{
        display: none;
    }
    .contactmobil{
        border-radius: 20px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .contact{
        padding-left: 10px;
    }
    .contactleft{
        display: none;
    }
    .contactmobil{
        border-radius: 20px;
        
    }
}

@media screen and (max-width:500px) and (min-width:320px) {
    .contact{
        padding-left: 10px;
    }
    .contactleft{
        display: none;
    }
    .contactmobil{
        border-radius: 20px;
        width: 300px;
    }
    form{
        width: 270px;
    }
    .path-0{
        display: none;   
    }
}